<!DOCTYPE HTML>

<html>

<head>
  <title>Token</title>
  <style>
    body {
      background-color: lightgray;
    }

    iframe {
      display: block;
      width: 500px;
      height: 300px;
      /* margin:50px auto; */
      margin-top: 5px;
      border: medium solid black;
      background-color: white;
    }
  </style>
</head>

<body>
  <h1>postMessage() Demo</h1>

  <div class="container-fluid">
    <p>
      <!-- <form id="form">
        <input type="text" id="msg" placeholder="Type message to send" />
        <input type="submit" value="Send message" />
      </form> -->
      <p id="msg3">&nbsp;</p>
      <iframe id="externalContent" src="http://127.0.0.1:9000/token.cfm" style="display:none;"></iframe>
    </p>
  </div>

  <script>
    //expected origin of iFramed content...
    // var ORIGIN = "http://localhost:8080";
    var ORIGIN = "http://127.0.0.1:9000";

    //listen for messages coming from the expected origin...
    function listener(event) {
      console.log('event wall', event);

      if (event.origin !== ORIGIN) {
        return;
      }

      var response = JSON.parse(event.data),
        newMessage = response['newMessage'];
      console.log('newMessage', newMessage);
      document.getElementById("msg3").innerHTML = "received: \"" + (newMessage ? newMessage : 'nada') + "\" from: " +
        event.origin;
    }

    //attach a listener for when postMessage calls come in...
    if (window.addEventListener) {
      addEventListener("message", listener, false);
    } else {
      attachEvent("onmessage", listener);
    }

    //send a message into the hosted iFrame...
    // document.getElementById("form").onsubmit = function (e) {
    //   //target the iFrame
    //   var win = document.getElementById("externalContent").contentWindow;
    //   //hey! what are we sending?
    //   console.log("transmitting: " + document.getElementById("msg").value);

    //   //transmit our message to the iFramed page...
    //   //use JSON.stringify() to send text...
    //   win.postMessage(JSON.stringify({
    //     'newMessage': document.getElementById("msg").value
    //   }), ORIGIN);
    //   //IE?
    //   //win.postMessage("'newMessage': document.getElementById('msg').value", ORIGIN);

    //   //e.preventDefault();
    //   return false;
    // };
  </script>
</body>

</html>